/* Autonme */
/*$color_lines: #88A850;
$grey: #A3A599;
$color_button: #FBCD4B;
$back: #282623;*/

/* Hiver */

$color_lines: #F8F5F2;
$color_title: #EDB83D;
$color_button: #D70026;
$back: #000B29;

/* Printemps */
/*
$color_lines: #DFE166;
$color_title: #9A9EAB;
$color_button: #ED5752;
$back: #5D535E;
*/
