
@import "./base.scss";

.card {
    padding: 15px;
    background-color: $color_lines;
    text-align: center;
}

.card h2 {
    color: $back;
}

.grid-container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
   grid-gap: 20px;
}
