<div class="menugauche">

  <div class="toggle" id="toggle" onclick="menu-expand()">
    <h2 id="plus"> Menu </h2>
  </div>

  <div class="menu" id="menu">
  <a href="{{site.base_url}}">
      <img src="/img/Blog-icon.svg" alt="Le blog" />
      <p> Le blog </p>
</a>

    <a href="{{site.data.music}}">
      <img src="/img/music.svg" alt="Le blog" />
      <p> Azul </p>
      </a>

    <a href="{{site.base_url}}/rss.xml">
      <img src="/img/rss.svg" alt="Suivez le blog par RSS" />
      <p> RSS </p>
      </a>

    <a href="mailto:{{site.data.mail}}">
      <img src="/img/mail.svg" alt="Mail" />
      <p> Mail/XMPP </p>
    </a>

    <a href="{{site.data.mastodon}}">
      <img src="/img/masto.svg" alt="Réseaux sociaux" />
      <p> Mastodon </p>
      </a>

    <a href="{{site.data.gitlab}}">
      <img src="/img/gitlab.svg" alt="gitlab" />
      <p> Coding </p>
    </a>

</div>
</div>
