<!DOCTYPE html>
<html>
  <head>
    {% include "head.liquid" %}
    <title> {{ page.title }} </title>
  </head>

  <body>
    <div class="title">
      <h1 style="text-align:center;"> kitoy.me </h1>
    </div>

    {% include "menu.liquid" %}
    <div class="articles">
      <h1> {{ page.title }} </h1>
      <h2 class="description"> {{ page.description }} </h2>
      <hr />

      {{ page.content }}

    </div>  

    <footer><span class="copyleft">©</span> kitoy.me </footer>

    <script type="text/javascript" src="/js/menu.js"></script>
  </body>

</html>
