<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/sass/base.css" type="text/css">
        <title>{{ page.title }}</title>
    </head>

    <body>
    <div>
      {{ page.content }}
    </div>
  </body>
</html>
